@import './colors';

$border-1: 1px solid $c-gray-d8;

.border {
    &-wrapper {
        border: $border-1;
    }

    &-top {
        border-top: $border-1;
    }

    &-bottom {
        border-bottom: $border-1;
    }

    &-none {
        border: 0;
    }
}