@import "bulma/sass/utilities/mixins";

.no-scroll {
  position: relative;
  overflow: hidden;
}

.products__content-wrapper {
  @include until-widescreen {
    flex: none !important;
    width: 100% !important;
  }
}

.products__wrapper {
  .products__filter-aside {
    @include touch {
      position: fixed !important;
      display: block !important;
      width: 100% !important;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 2;
      transition: all 0.3s linear;
      transform: translateX(-110%);
    }

    &.show-filter {
      transform: translateX(0);
    }
  }
}
